.second-container{
    background: var(--Up-Color-BG, linear-gradient(179deg, rgba(110, 110, 112, 0.10) 43.81%, rgba(11, 11, 34, 0.10) 81.95%));
}

.third-container{
    background: lightgray -70.71px 0px / 109.821% 108.884% no-repeat, linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(179deg, rgba(110, 110, 112, 0.10) 43.81%, rgba(11, 11, 34, 0.10) 81.95%);
}


.glass-btn{
    background-color: rgba(255, 255, 255, 0.10);
}

.glass-card-1 {
    display: flex;
    padding: 24px;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    border-radius: 4px;
    /* border: 1px solid var(--Down-Half-Stroke, rgba(6, 72, 62, 0.00)); */
    /* background: var(--Down-Color-BG, linear-gradient(180deg, rgba(11, 11, 34, 0.10) 25.7%, rgba(110, 110, 112, 0.10) 82.32%)); */
    background: linear-gradient(180deg, rgba(11, 11, 34, 0.1) 25.7%, rgba(110, 110, 112, 0.1) 82.32%);
    border: 1px solid;
    border-image: linear-gradient(0deg,  rgba(15, 174, 150, 0.26) 0%, transparent 100%) 1;


}

.glass-card-2 {
    display: flex;
    padding: 24px;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    border-radius: 4px;
    /* border: 1px solid var(--Down-Half-Stroke, rgba(6, 72, 62, 0.00));
    background: var(--Down-Color-BG, linear-gradient(180deg, rgba(11, 11, 34, 0.10) 25.7%, rgba(110, 110, 112, 0.10) 82.32%)); */
    background: linear-gradient(180deg, rgba(11, 11, 34, 0.1) 25.7%, rgba(110, 110, 112, 0.1) 82.32%);
    border: 1px solid;
    border-image: linear-gradient(0deg,  rgba(15, 174, 150, 0.26) 0%, transparent 100%) 1;
}

.glass-card-3 {
    display: flex;
    padding: 24px;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    border-radius: 4px;
    /* border: 1px solid var(--Down-Half-Stroke, rgba(6, 72, 62, 0.00));
    background: var(--Down-Color-BG, linear-gradient(180deg, rgba(11, 11, 34, 0.10) 25.7%, rgba(110, 110, 112, 0.10) 82.32%)); */
    background: linear-gradient(180deg, rgba(11, 11, 34, 0.1) 25.7%, rgba(110, 110, 112, 0.1) 82.32%);
    border: 1px solid;
    border-image: linear-gradient(0deg,  rgba(15, 174, 150, 0.26) 0%, transparent 100%) 1;
}

.glass-vertical-card-1 {
    display: flex;
    flex-direction: column;
    padding: 30px 30px 30px 28px;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 4px;
    /* border: 2px solid var(--Up-half-stroke, rgba(15, 174, 150, 0.26)); */
    border-image: linear-gradient(180deg, rgba(15, 174, 150, 0.26) 0%, transparent 100%) 1;
    background: var(--Up-Color-BG, linear-gradient(179deg, rgba(110, 110, 112, 0.10) 43.81%, rgba(11, 11, 34, 0.10) 81.95%));

    border-image: linear-gradient(177.58deg,  rgba(15, 174, 150, 0.26) 0%, transparent 100%) 1;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    padding: 1px;
}

.glass-vertical-card-2 {
    display: flex;
    flex-direction: column;
    padding: 30px 30px 30px 28px;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 4px;
    /* border: 2px solid var(--Down-Half-Stroke, rgba(6, 72, 62, 0.00)); */
    background: var(--Down-Color-BG, linear-gradient(180deg, rgba(11, 11, 34, 0.10) 25.7%, rgba(110, 110, 112, 0.10) 82.32%));

    border-image: linear-gradient(0deg,  rgba(15, 174, 150, 0.26) 0%, transparent 100%) 1;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    padding: 1px;
}

.glass-vertical-card-3 {
    display: flex;
    flex-direction: column;
    padding: 30px 30px 30px 28px;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 4px;
    /* border: 2px solid var(--Up-half-stroke, rgba(15, 174, 150, 0.26)); */
    background: var(--Up-Color-BG, linear-gradient(179deg, rgba(110, 110, 112, 0.10) 43.81%, rgba(11, 11, 34, 0.10) 81.95%));
    border-image: linear-gradient(177.58deg,  rgba(15, 174, 150, 0.26) 0%, transparent 100%) 1;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    padding: 1px;
}

.solve-card-to-left {
    /* border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%) 1; */
    border-image: linear-gradient(to left, #1F1F1F 0%, transparent 100%) 1;
    border-radius: 5px; /* this doesn't work */
    border-width: 1px;
    border-style: solid;
    padding: 1px;
    border-top: none;
}

.solve-card-to-left-sm {
    /* border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%) 1; */
    border-image: linear-gradient(to left, #cecece4d 0%, #cecece4d 100%) 1;
    border-radius: 5px; /* this doesn't work */
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    border-top: none;
}

.solve-card-to-right {
    /* border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%) 1; */
    border-image: linear-gradient(to right, #1F1F1F 0%, transparent 100%) 1;
    border-radius: 5px; /* this doesn't work */
    border-width: 1px;
    border-style: solid;
    padding: 1px;
    border-top: none;
}

.solve-card-to-right-sm {
    /* border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%) 1; */
    border-image: linear-gradient(to right, #cecece4d 0%, #cecece4d 100%) 1;
    border-radius: 5px; /* this doesn't work */
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    border-top: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Flex", sans-serif;
}

p, span, li, div {
    font-family: "Roboto Condensed", sans-serif;
}

.home-3-container {
    /* background-image: url("../../public/static_img/Designer.jpeg"); */
    background: linear-gradient(rgba(0,0,0, 0.9), rgba(0,0,0,0.9)),
    url("../../public/static_img/Designer.jpeg");

    
}

.home-dynamic-content-container {
    background: linear-gradient(180deg, rgba(11, 11, 34, 0.1) 25.7%, rgba(110, 110, 112, 0.3) 82.32%);
}

:root {
    --small-text: 1.1vw;
    --medium-text: 1.25vw;
    --large-text: 1.5vw;
    --header-text: 2.5vw;
}