.extra-page {
    color: #CECECE;
}

.extra-page h1 {
    /* font-size: 2.5vw; */
    /* line-height: 1.6; */
    margin: 15px 0;
    font-weight: 700;
}

.extra-page p, .extra-page div {
    /* font-size: 1.5vw; */
    /* line-height: 1.4; */
}

.table-nl {
    width: 50%;
    margin: 0 auto;
    gap: 10px;
    border: 1px solid #CECECE;
    text-align: right;
}

.table-nl .flex {
    border-bottom: 1px solid #CECECE;
    /* justify-content: space-between; */
    gap: 30px;
    padding: 10px;
    align-items: center;
    text-align: left;
}

.table-nl .flex p {
}