.nav-bar {
    /* background: #0B0B22; */
    box-shadow: 2px -1px 7.6px 0px #181818;
}

.accordion-item {
    border-radius: 10px;
    background: var(--Up-Color-BG, linear-gradient(179deg, rgba(110, 110, 112, 0.10) 43.81%, rgba(11, 11, 34, 0.10) 81.95%));
}

.marquee-bg {
    background: linear-gradient(180deg, #181829 0%, #0B0B22 75.91%);
}

.marquee-border {
    border-right: 1px solid rgba(206, 206, 206, 0.1);
}